@import "../../App.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*I should devide the vertical space between 1 2 2 with flex*/

  @include mobile {
    transform: none !important; //to solve the mobile display issue
  }
}

.textContainer {
  flex: 1; /*one unit*/
  align-self: flex-end; /*to put items on the right when we using flex*/
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    width: 80%;
  }

  @include mobile {
    width: 50%;
    align-self: center;
    text-align: center;
    flex-direction: column;
  }

  p {
    font-weight: 200;
    font-size: 20px;
    color: gray;
    text-align: right;

    @include tablet {
      margin-top: 2rem;
      font-size: 12px;
      text-align: left;
    }

    @include mobile {
      margin-top: 2rem;
      font-size: 10px;
      text-align: left;
    }
  }

  hr {
    width: 250px;
    border: none;
    border-top: 0.5px solid gray;

    @include mobile {
      width: 400px;
    }
  }
}

.titleContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    width: 100%;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 20px;

    @include tablet {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
    @include mobile {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    img {
      width: 300px;
      height: 100px;
      border-radius: 50px;
      object-fit: cover;

      @include tablet {
        margin-top: 1rem;
        width: 200px;
        height: 50px;
      }
      @include mobile {
        margin-top: 1rem;
        width: 200px;
        height: 50px;
      }
    }

    h1 {
      font-size: 90px;
      font-weight: 100;

      @include tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 20px;
      }
    }
  }

  button {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    background-color: orange;
    border: none;
    font-size: 24px;
    cursor: pointer;

    @include tablet {
      font-size: 15px;
      width: 100;
      height: 35px;
      margin-bottom: 1rem;
    }
    @include mobile {
      font-size: 10px;
      width: 100px;
      height: 25px;
      margin-bottom: 1rem;
    }
  }
}

.listContainer {
  flex: 2;
  display: flex;
  max-width: 1366;
  margin: auto;

  @include tablet {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
  }

  .box {
    padding: 50px;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      border: none;
      align-items: center;
    }

    h2 {
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 13px;
      }
    }

    p {
      @include tablet {
        display: none;
      }
    }
  }

  button {
    padding: 10px;
    background-color: orange;
    border: none;
    cursor: pointer;
    @include tablet {
      background-color: transparent;
      border: 1px solid orange;
      border-radius: 5px;
      color: orange;
      width: 50%;
      margin-top: 0.5rem;
    }
  }
}
