.navbar {
    height: 100px;
    .wrapper {
        max-width: 1366px; /*popular point*/
        margin: auto; /* to get a marging*/
        display: flex; /*Items will be horizontal*/
        align-items: center; /*center down vertically*/
        justify-content: space-between; /*to get a space between logo and social*/
        /*background-color: rebeccapurple;*/
        height: 100%;

        span{
            font-weight: bold;
        }

        .social{
            display: flex;
            gap: 20px;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}