@import "../../App.scss";
.Container {
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 30px;
  }
  @include mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 10px;
  }

  h2 {
    font-size: 26px;
    font-weight: 500;

    @include tablet {
      flex: 1;
      font: size 18px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;

    text-align: left;
    font-size: 20px;
    font-weight: 400;
    @include tablet {
      flex: 2;
      margin-left: 5px;
      font: size 18px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
}
